<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="/bower_components/iron-pages/iron-pages.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">

<!--
`polymer-tabs`


@demo demo/index.html
-->

<dom-module id="polymer-tabs">

  <!-- <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/bootstrap/dist/js/umd/tab.js"></script> -->

  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <style is="custom-style">
      iron-pages div {
        padding: 20px;
      }
    </style>

    <h2>Polymer: Hello "[[message]]"</h2>

    <paper-tabs id="tabs" selected="{{selected}}" class="nav nav-tabs" role="tablist" on-selected-item-changed="itemChanged">
      <paper-tab role="presentation" class="active">

        <!-- <a href="#angular" aria-controls="angular" role="tab" data-toggle="tab">Home</a> -->
        Angular 1.x

      </paper-tab>
      <paper-tab role="presentation">

        <!-- <a href="#polymer" aria-controls="polymer" role="tab" data-toggle="tab">Profile</a> -->
        Polymer

      </paper-tab>
      <paper-tab role="presentation">

        <!-- <a href="#polymerception" aria-controls="polymerception" role="tab" data-toggle="tab">Settings</a> -->
        Polymer → Angular → Polymer → Angular

      </paper-tab>
    </paper-tabs>

    <iron-pages selected="{{selected}}" class="tab-content">
      <div role="tabpanel" class$="tab-pane" id="angular">
        <content id="_1" select=".tab-1"></content>
      </div>
      <div role="tabpanel" class$="tab-pane" id="polymer">
        <p>local polymer event & prop binding</p>

        <span>{{ name }}</span>
        <paper-input label="Input label" value="{{name}}"></paper-input>
        <paper-button raised on-tap="btn3">Click me</paper-button>
      </div>
      <div role="tabpanel" class$="tab-pane" id="polymerception">
        <content id="_2" select=".tab-2"></content>
      </div>
    </iron-pages>

  </template>

  <script>
    Polymer({

      is: 'polymer-tabs',

      properties: {
        message: {
          type: String
        }
      },

      btn3: function(event) {
        console.log(event);
        alert('clicked from polymer');
      },

      itemChanged: function(event) {
        // raise this event to the outside world (angular)
        this.fire('selected-item-changed', this.$.tabs.selected);
      },

      ready: function() {

        this.selected = 0;

        // uncomment the section below when bootstrap 4 tabs.js plugin is working properly!
        // $(Polymer.dom(this.$.tabs).querySelectorAll('a')).click( (e) => {
        //   e.preventDefault();
        //   $(this).tab('show');
        // });

        // =====

        // trying to recompile angular template from inside polymer.
        // HACKY WAY
        // REALLY?? DON'T DO THAT!

        // let $body = angular.element(document.body);
        // let $rootScope = $body.scope().$root;
        //
        // let block = this.$._1._distributedNodes.pop();
        // let el = angular.element(block);
        // let injector = el.injector();
        // let $compile = injector.get('$compile');
        // let controller = injector.get('$controller')('View1Ctrl', {
        //   $scope: el.scope()
        // });
        // let celem = $compile(block.innerHTML)(el.scope(), undefined, {
        //   transcludeControllers: {
        //     'View1Ctrl' : {
        //       instance: controller
        //     }
        //   }
        // });
        // $rootScope.$digest();
      }

    });
  </script>
</dom-module>
